# Transformers & Sentence Transformers
transformers
sentence-transformers

# Vector DB & cache
qdrant-client
redis

# Streamlit UI
streamlit

# Utils
langdetect
python-dotenv
huggingface-hub

beautifulsoup4
bitsandbytes
timm

# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu128